nav {
    position: relative;
    height: 100%;
    width: 15%;
    background-color: rgb(58, 58, 58);
    margin: 0px 0px 0px 0px;
    float: left;
}

ul {
    position: relative;
    height: auto;
    width: 100%;
    margin-top: 50px;
    margin-block-start: 0px;
    padding: 0px;
    background-color: rgb(58, 58, 58);
    list-style: none;
}

nav ul li {
    text-align: center;
    margin: 20px 0px 20px 0px;
}

.nav-link {
    text-decoration: none;
    color: turquoise;
    height: 20px;
    font-size: x-large;
}

nav ul li:active {
    background-color: turquoise;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-link:active {
    color: black;
}

.invisible {
    display: none;
}

.blocker-50px {
    position: relative;
    margin-top: 25px;
    margin-bottom: 25px;
}

#page-content {
    position: relative;
    width: 80%;
    height: 90%;
    padding: 10px;
    left: 15%;
}

admin-page {
    display: block;
    width: 100vw;
    height: 100vh;
}